<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- Hoja de estilos Bulma desde el CDN --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">

  <script defer src="/scripts/carousel.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>

  <!-- <script src="~bulma-carousel/dist/js/bulma-carousel.min.js"></script> --> <noscript>You need to enable JavaScript to run this app.</noscript> <div id="root"></div> <script> $(document).ready(function(){ var carousels = bulmaCarousel.attach(); // carousels now contains an array of all Carousel instances }); </script> </body> </html>
  
  <title>Du Lernst</title>
</head>

<body>
  {{!-- Barra de navegación --}}
  <header>  
  <nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://i.postimg.cc/SstF0wQS/dulernst-fw.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">

    

    <div class="navbar-start">
      <a class="navbar-item" href="/">
         <strong>Inicio</strong> 
        </a>
      &nbsp;
   
       &nbsp;
               
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item" href="explorarCursos">
            <strong>Explorar cursos</strong>
          </a>

       
      </div> 
      


       {{#if login }}        
       <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-item" href="/categorias">
          <strong>Categorías</strong>
        </a>
       
        <div class="navbar-dropdown is-boxed">
          {{#each categorias as |categoria|}}
          <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
            {{categoria.nombre}}
          </a>
          {{/each}}
        </div>
       
      </div> 
      {{/if}}
       

    </div>



    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          
          <p class="control">
            

           {{# if login }} 
            {{#each usuario as |user|}}    
          {{!-- <div class="navbar-item has-dropdown is-hoverable">
              <a href="/enlistarVideos">        
                <br>
                <button class="button is-info">{{user.nombre}}</button>
              </a>
              <div class="navbar-dropdown is-boxed">

              <a href="/perfil" class="btn btn-secondary btn-round">Perfil</a>
                </a>
                <a class="button is-primary" href="/salir">
                    <span class="icon">
                      <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span><i class="fas fa-sign-out-alt">Cerrar sesión</i></span>
                  </a>

                  <a class="button is-primary" href="/ver-rol">
                    <span class="icon">
                      <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span>Ver Rol</span>
                  </a>
                
              </div>
            </div> 
             </div>  --}}




            {{!-- Boton y opciones de perfil --}}

            <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item" href="perfil">
            <strong>{{user.nombre}}</strong>
          </a>
        
          <div class="navbar-dropdown is-boxed">            
            <a class="navbar-item" href="perfil">
             Perfil
            </a>  
            <a class="navbar-item" href="salir">
             Cerrar sesion
            </a>          
          </div>
       
      </div> 

            {{!-- Final del boton y opcione de perfil --}}

             
            {{/each}}
          </p>
            {{ else }}
            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" href="/iniciar-sesion">
              <span class="icon">
                <i class="fas fa-sign-in-alt"></i>
              </span>
              <span>
                Iniciar sesión
              </span>
            </a>
           
            <p class="control">
            <a href="crear-cuenta">              
              
              <button class="button is-info" style="background-color: #33A1B7;">
                <span class="icon">
                <i class="fas fa-user-plus"></i>
              </span> &nbsp;&nbsp;Registrarse</button>
            </a>
           </p>
           {{/if}}

          
        </div>
      </div>
    </div>
  </div>
</nav>

  </header>

  {{!-- Contenido principal --}}
  <main class="flex-shrink-0">
    <div class="container pt-5">
      {{{body}}}
    </div>
  </main>

  {{!-- Pié de página --}}
  <br><br>
  <footer class="footer">
  <div class="content has-text-centered">
    <a href="https://www.facebook.com"><i class="fab fa-facebook-square fa-2x" style="color: black; 10px"></i></i></a>
    <a href="https://www.instagram.com"><i class="fab fa-instagram-square fa-2x" style="color: black; 10px"></i></a>
     <a href="https://github.com/MarcoRodriguezM/du-lernst"><i class="fas fa-laptop-code fa-2x" style="color: black; 10px"></i></a>
    <br>
    <p>
      <strong>©  Du lenst 2020</strong>
    </p>
  </div>
</footer>

  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>


<style>
  body{
    background-image: url("https://i.postimg.cc/xCY1077H/fondo.jpg");
    background-size: cover;
  }
  .navbar {
    background-color: transparent;
}
.footer {
    background-color: transparent;
}
</style>