<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact Form - Free Bulma template</title>
	
	<!-- Bulma Version 0.9.0-->
	<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/contact.css">
</head>
<body>


		 {{> showMessages messages}}
	<!-- START NAV -->
	<nav class="navbar">
		<div class="container">
			<div class="navbar-brand">
				
				<span class="navbar-burger burger" data-target="navbarMenu">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</div>
			
	<!-- END NAV -->    
	<section class="hero is-fullheight">
		<div class="hero-body">
		
			<div class="container has-text-centered">
				<div class="columns is-8 is-variable ">
					<div class="column is-two-thirds has-text-left">
						     <font color="black" face="Bodoni MT Black">
						<h1 class="title is-1">"CONTÁCTENOS"</h1> </font>
						 <FONT FACE="Arial Rounded MT Bold" SIZE=6 COLOR="black">
						<p class="is-size-4">Si tienes alguna duda o consulta encuéntranos en nuestras redes sociales.
						</p></FONT>
				
						<img src="https://s8.gifyu.com/images/contactenos389a33f6cbbc6b89.gif" border="0" alt="imagen" width="380" height="250">
	                        <div class="social-media">
							<a href=" https://facebook.com" target="_blank" class="button is-dark is-large " style="background-color:#1877F2;"> <i class="fab fa-facebook" aria-hidden="true"></i></a>
							<a href="https://instagram.com" target="_blank" class="button is-dark is-large" style="background-color:#ee6d7a" ><i class="fab fa-instagram-square" aria-hidden="true"></i></a>
							<a href="https://twitter.com" target="_blank" class="button is-dark is-large"  style="background-color:#1DA1F2"><i class="fab fa-twitter" aria-hidden="true"></i></a>
					        <a href="https://snapchat.com" target="_blank" class="button is-dark is-large" style="background-color:#e7f068"><i class="fab fa-snapchat" aria-hidden="true"></i></a>
							 <a href="https://web.whatsapp.com" target="_blank" class="button is-dark is-large" style="background-color:#0ec561"><i class="fab fa-whatsapp"aria-hidden="true"></i></a>
						</div>
					  </div>
					
					 {{!-- Mensajes para el usuario --}}
           				
					

					<div class="column is-one-third has-text-left">
						
						
						<form  method="POST" action="/FormularioInformacion">
						<div class="field">
							<label class="label">Nombre:</label>
							<div class="control">
								<input class="input is-medium " type="nombre" name="nombre" placeholder="" value={{nombre}}>
							</div>
						</div>
						<div class="field">
							<label class="label">E-mail:</label>
							<div class="control">
								  <input class="input is-medium " type="email"  name="email" autocomplete="current-password" placeholder="" value={{email}} >
							</div>


						</div><div class="field">
							<label class="label">¿En qué tipo de tutoría estas interesado?</label>
							<div class="control">
									 <input class="input is-medium" type="interes"  name="interes"  placeholder="" value={{interes}} >
							</div>

                            <div class="field">
							<label class="label">Opinión sobre nuestra página web</label>
							<div class="control">
								 <textarea class="textarea is-medium" type="Opinion"  name="Opinion"  placeholder="" value={{Opinion}} ></textarea>
							</div>
						</div>

						<div class="field">
							<label class="label">Comentarios...</label>
							<div class="control">
							  <textarea class="textarea is-medium" type="comentarios"  name="comentarios"  placeholder="" value={{comenatarios}} ></textarea>
							</div>
						</div>

						<div class="control">
						 {{!-- <a href="http://localhost:5000/" class="button is-primary">Enviar</a>  --}}
						<button type="submit" style="background-color: #33A1B7;" class="button is-info "> Enviar</button>
                     

						</div>
					</div>

		        </form>
				</div>
			</div>
		</div>
		
	</section>
	

</body>

</html>