

<h1 style="text-align: center; font-family:Arial, Helvetica, sans-serif">Nueva Solicitud de Asociacion</h1>

<p style="font-family: Arial, Helvetica, sans-serif;">
{{nombre}}
{{email}}
{{interes}}
{{Opinion}}
{{comentarios}}
</p>
