

<h1 style="text-align: center; font-family:Arial, Helvetica, sans-serif">Nueva Solicitud de Asociacion</h1> <br><br>

<p style="font-family: Arial, Helvetica, sans-serif;">
<strong>Nombre:</strong> {{nombre}} <br>
<strong>Email:</strong>{{email}} <br>
<strong>Interes:</strong>{{interes}} <br>
<strong>Opinion:</strong>{{Opinion}} <br>
<strong>Comentario:</strong>{{comentarios}} <br>
</p>
